In [3]:
#P(F^A)=a
#P(F)=b
#P(A/F)=c
a=0.03
b=0.2
c=a/b
print(c)

0.15

In [4]:
import mysql.connector

In [5]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="college"    
)

In [6]:
mycursor=mydb.cursor()
mycursor.execute("select *from student")
myresult=mycursor.fetchall()

In [7]:
for x in myresult:
    print(x)

(1, 'Aravind', 98, 123)
(2, 'Rajesh', 65, 420)
(3, 'Mukesh', 55, 321)
(4, 'xyz', 89, 491)
(5, 'abc', 12, 981)
(6, 'kz', 22, 231)
(7, 'sdc', 45, 221)
(8, 'yvr', 25, 774)