In [1]:
print('Hello world')

Hello world

In [24]:
print('Hello Ram\n\n')
print("I am Aravind Patel")

Hello Ram


I am Aravind Patel

# comments in python

In [38]:
#print('this will not get printed')
print('done')

done

In [40]:
#Multi line comment
'''this is an
example of 
multi line comment'''
print('done')

done

# Printing Address of variables in Python

In [16]:
x=10
address=id(x)

In [17]:
# to print Value present at a particular address use ctypes

import ctypes
ctypes.cast(address, ctypes.py_object).value

10

In [1]:
print('Hello Ram,',end=" ")
print("I am Aravind Patel")

Hello Ram, I am Aravind Patel

In [28]:
for x in range(0,11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [30]:
for x in range(0,11):
    print(x,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [5]:
print('*'*10)

**********

In [9]:
print('Hello-world. '*10)

Hello-world. Hello-world. Hello-world. Hello-world. Hello-world. Hello-world. Hello-world. Hello-world. Hello-world. Hello-world.

In [10]:
price=10

In [11]:
print(price)

10

In [13]:
value=False

In [2]:
print(complex(12,24))

(12+24j)

# Float division

In [3]:
print(4/2)

2.0

# Integer division

In [4]:
print(4//2)

2

In [14]:
print(value)

False

In [1]:
x,y,z=10,20,30
print(f'{x},{y},{z}')

10,20,30

In [2]:
x=input('enter your name: ')
print("welcome "+x)

enter your name: Aravind Patel
welcome Aravind Patel

In [3]:
x=input('enter the value of x: ')
y=input('enter the value of y: ')
sum=int(x)+int(y)
print("final result is: ",sum)

enter the value of x: 10
enter the value of y: 20
final result is:  30

In [6]:
x=input('enter the value of x: ')
y=input('enter the value of y: ')
sum='{}+{}'.format(x,y)
print("final result is: ",sum)

enter the value of x: 10
enter the value of y: 5
final result is:  10+5

In [4]:
birth_year=input('enter the year you are born')
age=2021-int(birth_year)
print('your age is :',age)

enter the year you are born1999
your age is : 22

In [5]:
x=20
print("the value of x is ",x)

the value of x is  20

# Python Operators

In [1]:
a=0
b=1
print(a&b)

0

In [2]:
a=0
b=1
print(a|b)

1

In [10]:
a=2
b=3
print(a & b)
print(a | b)

2
3

In [11]:
a=2
b=3
print(a and b)
print(a or b)

3
2

* in c if a=3 and b=4 if we perform logical and(&&),Or(||) it returns 1

# Functions

In [3]:
def add(a,b):
    c=a+b
    return c
add(10,20)

30

In [4]:
def add(a,b):
    c=a+b
    print(c)
add(10,20)

30

In [1]:
def is_leap(year):
    leap=False
    return(year % 4 == 0 and year % 400 == 0 or year % 100 != 0)
       
      
year = int(input("enter an year:"))
print(is_leap(year))

enter an year:1990
True

## Lambda Function

In [1]:
sum=lambda x:x+5
sum(3)

8

In [2]:
l=[5,6,7,8,9,10]
sum=map(lambda x:x+5,l)
print(list(sum))

[10, 11, 12, 13, 14, 15]

In [17]:
a=lambda y:y%2
print(a(2))

0

# STRINGS FORMATTING

In [13]:
string1="""This is a
multi line string 
assignment in Python"""
print(string1)

This is a
multi line string
assignment in Python

In [3]:
x="I'm an Indian"
x

"I'm an Indian"

In [2]:
y='Ramu is an "Indian" and lives in Austrila'
print(y)

Ramu is an "Indian" and lives in Austrila

In [8]:
print(z)

'Ramu is an Indian and lives in Austrila'

In [9]:
x="I'm an Indian"
print(x)

I'm an Indian

In [10]:
a="you\'re an idiot"
print(a)

you're an idiot

In [11]:
a="'you\'re an idiot'"
print(a)

'you're an idiot'

In [12]:
a="'you're an idiot'"
print(a)

'you're an idiot'

#  Strings are Immutable

In [6]:
s='harry'
s[1]='e'

TypeError: 'str' object does not support item assignment

In [7]:
s[1]

'a'

In [6]:
s=["Ram",'Hina','Suresh','Aravind']
max(s)

'Suresh'

In [7]:
x='ravy'
print(max(x))

y

In [8]:
sort=sorted(s)
print(sort)
print(s)

['Aravind', 'Hina', 'Ram', 'Suresh']
['Ram', 'Hina', 'Suresh', 'Aravind']

In [8]:
name='-'.join(['Jack',"o","Lantern"])
print(name)

Jack-o-Lantern

In [3]:
name=''

In [4]:
name+="Aravind"
name

'Aravind'

In [5]:
name+=" Patel"

In [6]:
name

'Aravind Patel'

In [38]:
#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

#  Slicing Strings

In [39]:
#Slice between a range
b = "Hello, World!"
print(b[2:5])

llo

In [40]:
#Slice from begining to a range
b = "Hello, World!"
print(b[:5])

Hello

In [41]:
#Slice To the End
b = "Hello, World!"
print(b[2:])

llo, World!

In [42]:
#Negative Indexing
b = "Hello, World!"
print(b[-5:-2])

orl

In [43]:
#changing case
a = "Hello, World!"
print(a.upper())
print(a.lower())

HELLO, WORLD!
hello, world!

In [44]:
#Remove void space
a = " Hello, World! "
print(a.strip())

Hello, World!

In [45]:
#Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [46]:
#Split String
a = "Hello, World!"
print(a.split(","))
#it returns a list of strings which are split

['Hello', ' World!']

# reverse of a string

In [1]:
s='aravind patel'
name="".join(reversed(s))
print(f'my name when reversed is {name}')

my name when reversed is letap dnivara

In [2]:
print(s[::-1])

letap dnivara

In [5]:
#each time it skips n-1 characetrs from string and prints the remaining
print(s[::3])

avdal

#  escape characters

In [51]:
#fixing escape characters
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (<ipython-input-51-b9d458f9b90d>, line 2)

In [50]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [53]:
x="india\t"
y="is my country"
print(x,y)

india	 is my country

In [8]:
print("HI")
print("")
print('Welcome to India')

HI

Welcome to India

In [9]:
print("HI")
print("\n")
print('Welcome to India')

HI


Welcome to India

In [84]:
x="india\n"
y="is my country"
print(x,y)

india
 is my country

In [55]:
x="india\\"
y="is my country"
print(x,y)

india\ is my country

In [11]:
x="aravind"
print(x.index('d'))

6

In [12]:
print(x.count('a'))

2

In [59]:
x.find("v")

3

In [13]:
print(x.find("a"))
print(x.rfind("a"))

0
2

In [63]:
x='if'
print(x.isidentifier())

True

In [71]:
x="aravind"
print(x.endswith('d'))

True

In [73]:
print(x.startswith('a'))

True

In [67]:
x='125'
print(x.isnumeric())

True

In [69]:
x='20'
print(x.isdigit())

True

In [70]:
x='Aug20'
print(x.isalnum())

True

In [74]:
x="aravind"
print(x.isalpha())

True

In [ ]:
x=[1,2,3,4,5]
print(x)

In [75]:
x=" "
print(x.isspace())

True

In [77]:
#rfind Searches the string for a specified value and returns the last position of where it was found 
x="aravind"
print(x.rfind('a'))

2

In [82]:
#zfill() Fills the string with a specified number of 0 values at the beginning
y=x.zfill(10)
print(y)

000aravind

# combining strings

In [14]:
x=5
y=10
print("I have {} chocolates and {} coins with me.".format(x,y))

I have 5 chocolates and 10 coins with me.

In [15]:
sum=x+y
print("the sum of {},{} is {}".format(x,y,sum))

the sum of 5,10 is 15

# F String

In [15]:
name="aravind"
age=21
print(f'my name is {name} and age is {age}')

my name is aravind and age is 21

# String manipulating methods

In [1]:
s='aravind patel tulisagari'
print(s.title())

Aravind Patel Tulisagari

In [2]:
s='aravind patel tulisagari'
print(s.capitalize())

Aravind patel tulisagari

In [3]:
len(s)

24

In [4]:
max(s)

'v'

In [5]:
min(s)

' '

In [6]:
print(s)

aravind patel tulisagari

In [11]:
l=s.split()

In [13]:
print(l)
print(type(l))

['aravind', 'patel', 'tulisagari']
<class 'list'>

In [15]:
k="this is a string"
print(k.split())

['this', 'is', 'a', 'string']

In [16]:
print("H.no:4-71,Mulugupally,Jayashankar".split(','))

['H.no:4-71', 'Mulugupally', 'Jayashankar']

In [19]:
k="Raghava ram "
print(k)
print(k.strip("R"))

Raghava ram
aghava ram

In [27]:
s="aravind patel"
k="-".join(s)
print(k)

a-r-a-v-i-n-d- -p-a-t-e-l

In [34]:
d="ravi"
s="_".join(d)
s

'r_a_v_i'

# Date and Time

In [11]:
import datetime as dt

In [2]:
date_today=dt.date.today()
print(date_today)

2021-04-17

In [7]:
from datetime import datetime

In [8]:
now = datetime.now()

In [9]:
print("now =", now)
# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

now = 2021-04-17 08:13:39.671235
date and time = 17/04/2021 08:13:39

In [12]:
from datetime import datetime 
today=datetime.now()

In [13]:
print(today)

2021-04-17 08:18:03.639906

In [3]:
from datetime import date
today=date(1999,10,4)
today

datetime.date(1999, 10, 4)

In [4]:
today.weekday()

0

In [10]:
hari=date(2001,6,6)
print(hari)

2001-06-06

In [11]:
hari.weekday()

2

In [12]:
mine=date(2021,4,11)

In [13]:
mine.weekday()

6

# Map

In [20]:
arr=map(int,input().split())

1 2 3 4 5 6 7

In [21]:
type(arr)

map

In [22]:
arr

In [23]:
l=list(arr)

In [24]:
l

[1, 2, 3, 4, 5, 6, 7]

In [25]:
arr=list(map(int,input().split()))

1 2 34 56 98 56

In [26]:
arr

[1, 2, 34, 56, 98, 56]

# problem jade global

In [37]:
x=list(map(int,input().split()))
y=list(map(int,input().split()))
if(x[1]%x[0]==0):
    print("Yes")
else:
    print("No")
if(y[1]%y[0]==0):
    print("Yes")
else:
    print("No")

4 20
4 21
Yes
No

# List

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered and unindexed. No duplicate members.
* Dictionary is a collection which is ordered* and changeable. No duplicate members.
# order  -  changeable - duplicates

In [9]:
l1=[]

In [10]:
type(l1)

list

In [11]:
l1.append(55)

In [12]:
l1

[55]

In [13]:
l1.append(22)

In [14]:
l1.reverse()

In [15]:
l1

[22, 55]

In [16]:
k=l1.reverse()

In [17]:
k
#nothing is printed

In [24]:
items=[1,2,3,4,5,6,7,8,9]

In [25]:
print(items.reverse())

None

In [26]:
items

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
#Accessing -ve indexes in lists

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [1]:
#copying i lists

l=[1,2,3,4,5,6]
l1=l.copy()
print(l1)

[1, 2, 3, 4, 5, 6]

# Identity operators
* is,not is
# Membership operators
* in,not in

In [2]:
print("apple" in thislist)

True

In [3]:
#changing List elements

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [4]:
#Inserting into a list

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [5]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [6]:
#Extend List

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [7]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [87]:
str=input()
k="".join(reversed(str))
print(k)

aravind
dnivara

In [88]:
s="my name is aravind"
print(reversed(s))

<reversed object at 0x0000015F95057D90>

In [90]:
s.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [94]:
s="india"
l="".join(reversed(s))
l

'aidni'

In [29]:
l=list(s)

In [30]:
l.reverse()

In [32]:
print(l)

['d', 'n', 'i', 'v', 'a', 'r', 'a', ' ', 's', 'i', ' ', 'e', 'm', 'a', 'n', ' ', 'y', 'm']

In [33]:
items

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
items[:-1]

[9, 8, 7, 6, 5, 4, 3, 2]

In [35]:
items[: :-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
['kamal'][::-1]

['kamal']

In [37]:
['kamal'][0][::-1] #it does not change the original place so inplace=False

'lamak'

In [38]:
items=[1,2,3,4,5]
items.reverse()#it changes the original place so inplace=True

In [39]:
items

[5, 4, 3, 2, 1]

In [40]:
s="name"

In [41]:
s[::-1]

'eman'

In [42]:
s

'name'

In [1]:
s=list(map(int,input().split()))
s.reverse()
print(s)

1 4 5 6 7
[7, 6, 5, 4, 1]

In [5]:
l=[1,2,3,4,2,5,3,6,8,1,7,9]
print(l.count(2))
print(l.index(7))

2
10

# List comprehension

In [1]:
lst=[1,2,3,4,5,6,7]
even_lst=[x for x in lst if x%2==0]
print(even_lst)

square_lst=[x**2 for x in lst]
print(square_lst)

[2, 4, 6]
[1, 4, 9, 16, 25, 36, 49]

In [3]:
l=[1,2,3,4,5,6,7,8]
[print(x) for x in l if x%2==0]

2
4
6
8

[None, None, None, None]

# Sets

In [18]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [20]:
# sets don't allow duplicates into it

s1=set([1,2,3,4,1,2,5,6,2,3])
print(s1)

{1, 2, 3, 4, 5, 6}

In [25]:
# using set operators

s1=set((1,2,3,4,1,2,5,6,2,3))
print(s1)

{1, 2, 3, 4, 5, 6}

* Sets are unchangeable, meaning that we cannot change the items after the set has been created.

* Once a set is created, you cannot change its items, but you can add new items.

In [26]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

In [27]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'banana', 'mango', 'cherry', 'pineapple', 'apple', 'papaya'}

In [28]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'kiwi', 'cherry', 'apple', 'banana', 'orange'}

In [29]:
#remove an item from the set
#if an item is not present it will raise an error

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [30]:
#if an item is not present discard() will not raise an error

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [31]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [32]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

# Dictionary

In [49]:
info=dict()

In [50]:
info

{}

In [51]:
type(info)

dict

In [61]:
add={'303falt':'rajesh','304falt':'raju'}

In [62]:
add

{'303falt': 'rajesh', '304falt': 'raju'}

In [63]:
type(add)

dict

In [66]:
add.items()

dict_items([('303falt', 'rajesh'), ('304falt', 'raju')])

In [67]:
add.keys()

dict_keys(['303falt', '304falt'])

In [37]:
car={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [38]:
print(car['brand'])

Ford

In [39]:
print(car.keys())

dict_keys(['brand', 'model', 'year'])

In [40]:
print(car.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [41]:
print(car.values())

dict_values(['Ford', 'Mustang', 1964])

In [43]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [4]:
#nested Dictionaries

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print("\n",myfamily)
print(myfamily['child1']['name'])

 {'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
Emil

# tuple

In [12]:
a = (2)
print(type(a))

<class 'int'>

In [4]:
#if there is no coma at the end of a tuple it is regarded as a string only
s=('name')

In [5]:
type(s)

str

In [10]:
s=('name',)
type(s)

tuple

In [7]:
s.append('ram')

AttributeError: 'tuple' object has no attribute 'append'

In [72]:
for key,values in add.items():
    print(f'flat number is {key},name is {values}')

flat number is 303falt,name is rajesh
flat number is 304falt,name is raju

In [73]:
info={}

In [74]:
info=dict()

In [75]:
add={'street':'303'}

In [76]:
add

{'street': '303'}

In [77]:
add['street']='305'

In [78]:
add

{'street': '305'}

# Printing Random numbers

In [11]:
import random
print(random.random())

0.7612656295555171

In [13]:
print(random.randint(0,10))

3

# loops

In [79]:
names=['a','b','c','d']

In [80]:
for x in names:
    print(x)

a
b
c
d

In [81]:
len(names)

4

In [82]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [83]:
for x in range(5,10):
    print(x)

5
6
7
8
9

In [84]:
for x in range(-5,10):
    print(x)

-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [85]:
for x in range(-5,11,10):
    print(x)

-5
5

In [14]:
for x in range(5):
    for y in range(5):
        print(f'the sum of {x} and {y} is :',x+y)

the sum of 0 and 0 is : 0
the sum of 0 and 1 is : 1
the sum of 0 and 2 is : 2
the sum of 0 and 3 is : 3
the sum of 0 and 4 is : 4
the sum of 1 and 0 is : 1
the sum of 1 and 1 is : 2
the sum of 1 and 2 is : 3
the sum of 1 and 3 is : 4
the sum of 1 and 4 is : 5
the sum of 2 and 0 is : 2
the sum of 2 and 1 is : 3
the sum of 2 and 2 is : 4
the sum of 2 and 3 is : 5
the sum of 2 and 4 is : 6
the sum of 3 and 0 is : 3
the sum of 3 and 1 is : 4
the sum of 3 and 2 is : 5
the sum of 3 and 3 is : 6
the sum of 3 and 4 is : 7
the sum of 4 and 0 is : 4
the sum of 4 and 1 is : 5
the sum of 4 and 2 is : 6
the sum of 4 and 3 is : 7
the sum of 4 and 4 is : 8

In [89]:
value=int(input())
if value==10:
    print(f'this is {value}')
else:
    print(f'this is not 10')

5
this is not 10

# While loop

In [15]:
i=5
while(i<=10):
    i+=1
    print(i)

6
7
8
9
10
11

* Python does not have do while loops

# break statements in loops

In [16]:
i=5
while(i<=10):
    print(i)
    break

5

In [17]:
for x in range(10):
    print(x)
    break

0

In [29]:
for x in range(10):
    if(x==6):
        break
print("outside if block")

outside if block

In [94]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Functions

In [99]:
def name(fname):
    print(f'my name is {fname}')
name("aravind")

my name is aravind

In [100]:
*args,**kwargs

SyntaxError: invalid syntax (<ipython-input-100-6f09b9114e26>, line 1)

In [101]:
def intro(sum):
    print(sum*2)

In [102]:
intro(4)

8

In [30]:
def calc(a,b):
    print(a*b)

In [31]:
calc(2,3)

6

In [32]:
s=calc(2,3)

6

In [33]:
print(s)

None

In [35]:
def calc(a,b):
    return(a*b)

In [36]:
k=calc(5,2)

In [37]:
print(k)

10

In [113]:
k*2

20

In [18]:
a=[x for x in range(10)]

In [19]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
inp=list(map(int,input().split()))
print(inp)
print(type(inp))

1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [25]:
inp=set(map(int,input().split()))
print(inp)
print(type(inp))

1 2 1 2 5 5 9 6 6
{1, 2, 5, 6, 9}
<class 'set'>

In [95]:
t=(1,2,3,4)
print(type(t))

<class 'tuple'>

# # Classes in Python

In [9]:
class show:
    p=10
x1=show()
print(x1.p)

10

In [10]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [30]:
try:
    print(z)
except:
    print('an Exception occured')

an Exception occured

In [32]:
try:
  print(c)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [33]:
try:
    print(z)
except:
    print('an Exception occured')
finally:
    print("this is final block")

an Exception occured
this is final block

In [35]:
x=-1
if x<0:
    raise Exception("please enter a valid number")

Exception: please enter a valid number